.btn {
  border: 1px rgba($color: #000000, $alpha: 0.4) solid;

  height: fit-content;
  margin: 0 .5rem;
  border-radius: 8px;

  color: white;
  background-color: rgba($color: $color-secondary, $alpha: .9);
  cursor: pointer;

  &-big {
    width: 100px;
    padding: .4rem .4rem;
    font-size: 1rem;
  }

  &-medium {
    width: 4rem;
    padding: .4rem .2rem;
    font-size: .8rem;
  }

  &:hover {
    background-color: rgba($color: $color-secondary, $alpha: 1);
  }
}

form#search-bar {

  input {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    padding: .5rem;
    font-family: $font-main;
  }
}

// 弹窗公共样式
.modal {
  position: fixed;
  height: 300px;
  width: 360px;
  top: 40%;
  left:calc(100% - 0.5 * #{width});
  z-index: 1;
  background-color: rgba($color: $color-background, $alpha: 1);
  color: black;

  .modal-header {
    display: flex;
    justify-content: space-between;
  }
}