.hide {
  display: none;
}

#signOut {
  color: rgba($color: $color-secondary, $alpha: 1);
}

.btn {
  border: 1px rgba($color: #000000, $alpha: 0.4) solid;

  height: fit-content;
  margin: 0 .5rem;
  border-radius: 8px;

  color: white;
  background-color: rgba($color: $color-secondary, $alpha: .9);
  cursor: pointer;

  &-large {
    width: 100px;
    padding: .4rem .4rem;
    font-size: 1rem;
  }

  &-medium {
    width: 4rem;
    padding: .4rem .2rem;
    font-size: .8rem;
  }

  &:hover {
    background-color: rgba($color: $color-secondary, $alpha: 1);
  }
}

form#search-bar {

  input {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    padding: .5rem;
    font-family: $font-main;
  }
}

// 弹窗样式
.cursor {
  cursor: pointer;
}

.modal-body {
  display: flex;
  flex-direction: column;

  label {
    margin: .4rem 0 .8rem;
  }

  input {
    width: 100%;
    padding: .5rem 1rem;
    font-size: 16px;
  }
}

.modal-footer {
  margin-top: 1rem;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;

  .modal-title {
    font-family: $font-main;
    font-size: 22px;
  }
}

// 头像弹窗
#avatar-modal {
  .modal-body {
    height: 200px;
    width: 200px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: rgba($color: $color-secondary, $alpha: .5);
    display: grid;
    place-items: center;
  }

  input#file-input {
    position: absolute;
    top: 21.5px;
    left: 80px;
    height: 200px;
    width: 200px;
    opacity: 0;
    cursor: pointer;
    font-size: 0px;
    border-radius: 50%;
  }

  .modal-footer {
    margin: 1rem 0 0;

    .btn-wrapper {
      width: fit-content;
      margin: 0 auto;
    }
  }
}

// 邮箱弹窗
#email-modal {
}

// 密码弹窗
#password-modal {}

// 创建小组弹窗
#create-group-modal {
  form {
    display: flex;
    flex-direction: column;

    button {
      margin: 1rem auto 0;
    }
  }
}

// 加入小组弹窗
#add-group-modal {
  .modal-body {
    .search-group-list {
      margin: 1rem;

      .search-group-item {
        display: flex;
        justify-content: space-between;
        padding-bottom: .5rem;
        border-bottom: 1px solid black;
      }
    }
  }
}