@import './variables';
@import './tools';
@import './Home.scss';

main#Group {
  li {
    list-style: none;
  }

  .header {
    display: flex;
    flex-direction: column;

    .title {
      font-weight: unset;
    }

    .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 1rem 0;
    }
  }

  .card {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1.6rem;

    &-header {
      border-bottom: 1px gray solid;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: .5rem;

      .group-name {
        color: $color-secondary;
        font-weight: bold;
        font-size: 1rem;
      }

      .group-btns {
        button {
          font-size: .9rem;
        }
      }
    }

    &-body {
      border-bottom: 1px gray solid;
      padding-top: 1rem;

      .member-list {
        display: flex;
        gap: 1rem;

        .member {
          display: flex;
          flex-direction: column;
          gap: .2rem;

          &-avatar {
            margin: .4rem auto;
            flex: initial;
            display: grid;
            place-items: center;

            img {
              height: inherit;
              width: inherit;
              margin: 0 auto;
              background-color: rgba($color: white, $alpha: 1.0);
              border-radius: 64px;
            }
          }
        }
      }
    }

    &-footer {
      padding-top: 1rem;
    }

  }

  .search-group-item {
    display: flex;
    justify-content: space-between;
    margin: 1rem;

    .info {
      display: flex;
      flex-direction: column;

      .name {
        font-weight: bold;
      }

      .desc {
        color: rgba($color: #000000, $alpha: .6);
      }
    }

    .btn-wrapper {
      button {
        width: 100%;
        height: 100%;
      }
    }
  }
}