@import "./variables";
@import"./tools";
@import "./AnnoPage.scss";
@import "./UserPage.scss";

.Home {
  $header-height: 56px;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: $header-height 9fr 1fr;
  grid-template-columns: 1fr 6fr;
  width: 100vw;
  height: 100vh;

  header {
    grid-column: 1 / 4;
    z-index: 100;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      margin-left: 5vmin;
      font-family: $font-special;
    }

    nav {
      display: flex;
      gap: 20px;
      align-items: center;
      justify-items: center;
      font-size: 1.2rem;
      font-family: $font-main;
      margin-right: 5vmin;
      height: 100%;

      .user {
        height: 100%;
        display: flex;
        align-items: center;
      }

      button {
        border: unset;
        background-color: unset;
        font-size: unset;
        cursor: pointer;
        color: $color-secondary;
      }

      .nav-item {
        cursor: pointer;
        border-bottom: 3px solid;
        color: $color-secondary;
        border-color: rgba($color: $color-secondary, $alpha: 0);
        height: $header-height;
        line-height: $header-height;
        display: flex;
        align-items: center;

        &:hover {
          // border-color: rgba($color: $color-secondary, $alpha: 0.7);

          #dropdown {
            display: block;
          }
        }

        #dropdown {
          display: none;
          position: absolute;
          line-height: initial;
          top: $header-height;
          padding: .2rem .5rem;
          font-size: 1rem;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          border-radius: .2rem;
          background-color: #fff;
        }
      }
    }
  }

  aside {
    background-color: $color-background;
    grid-row: 2 / 4;
    min-width: 200px;

    .tab-wrapper {
      display: flex;
      flex-direction: column;
      padding-top: 2rem;

      .tab-title {
        font-size: 20px;
        padding: .4rem 3vmin;
        margin-top: 1rem;
      }

      .tab {
        font-size: 18px;
        padding: .4rem 3vmin;
        background-color: unset;
        border: unset;
        text-align: left;
        color: inherit;

        &:hover {
          background-color: rgba($color: $color-secondary, $alpha: .2);
        }
      }
    }
  }

  main {
    grid-column: 2 / 4;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }


}

footer {
  grid-row: 3 / 3;
  grid-column: 2 / 4;

  .footer-content {
    width: 90%;
    margin: 0 auto;
    padding: 6px 0;
    border-top: 1px rgb(232, 237, 235) solid;
    color: rgb(136, 147, 151);
    text-align: center;
  }
}