@import './style/variables';

.App {
  display: flex;
  font-family: $font-main;
}

a {
  text-decoration: none;
  color: unset;
}

p {
  margin: 0;
}

.title {
  font-size: 2rem;
  font-weight: 800;
}

.left {
  background-color: $color-background;
  width: 30vw;
  min-width: 400px;
  height: 100vh;
  flex: initial;
  display: flex;
  flex-direction: column;
}

.left-header {
  min-height: 20vh;
  flex: initial;
  font-family: $font-special;

  .title {
    text-align: center;
    color: $color-description;
    position: relative;
    z-index: 100;

    &:after {
      $width: 200px;
      content: '';
      position: absolute;
      z-index: -1;
      width: $width;
      height: 1rem;
      left: calc(50% - 0.5 * $width);
      bottom: 0;
      background-color: $color-primary;
    }
  }
}

.left-body {
  width: 60%;
  margin: 0 auto;
  padding: 2rem;
  flex: auto;


}

.left-footer {
  text-align: center;
  height: fit-content;
  margin: 1rem;
  flex: initial;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .6rem;

  label {
    align-self: flex-start;
    font-weight: bold;
    color: rgb(61, 79, 88, 0.8);

    &:hover {
      color: rgb(61, 79, 88, 1);
    }
  }

  .form-footer {
    margin-top: .5rem;
  }

  .btn {
    margin-left: 0;
  }

  .form-input {
    width: 100%;
    height: 2rem;
    border: 1px rgba($color: #000000, $alpha: 0.4) solid;
    border-radius: 8px;
    padding: 1px .4rem;
  }

  .form-input:hover {
    border: 1px rgba($color: #000000, $alpha: 1.0) solid;
  }

  .form-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .loginOrRegister {
    margin-top: .5rem;
    font-size: 13 px;
    opacity: .6;
    border: unset;
    background-color: unset;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}




.right {
  flex: auto;
  background-image: url('../public/ge.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  position: relative;


  &-body {
    width: 60%;
    position: absolute;
    // 放在右下角
    // right: 6vmin;
    // bottom: 10vmin;
    // 放在左上角
    top: 6vmin;
    left: 6vmin;
    padding: 0;
  }

}

.text-wrapper {
  padding: .5rem .5rem 1rem;
  background-color: rgba($color: $color-secondary, $alpha: 0.6);

  .title {
    font-family: $font-bold;
    font-size: 36px;
    color: white;
  }

  p,
  a {
    margin: .5rem 1rem;
  }

  .more {
    color: $color-primary;
    padding-bottom: .2rem;
    font-size: 1.4rem;
    font-weight: 500;

    &:hover {
      border-bottom: 2px solid;
      border-color: #{color};
    }
  }

  .description {
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
  }
}

/* 默认样式 */

.App-logo {
  height: 20vmin;
  width: 100%;
  pointer-events: none;
  margin-left: calc(50vmin - 0.5 * #{width});
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* 响应式设计 */

@media (max-width: 920px) {
  .text-wrapper {
    .title {
      font-size: 28px;
    }

    .description {
      font-size: 18px;
    }

    .more {
      font-size: 16px;
    }
  }
}

@media (max-width: 800px) {
  .left {
    width: 100%;
  }

  .right {
    display: none;
  }
}